> label {
    width: 100%;
    order: 3;
    overflow-y: hidden;

    height: calc(100vh - 100px);
    // max-height: 250px;
    max-height: 250px;

    @import './hamburger';

    // Comportamento do hamburger icon
    & input:checked ~ .hamburger {
        & div {
            background-color: red;
            &:nth-child(1){
                transform: translateY($hamb-height + $hamb-space) rotate(3*45deg);
            }
            &:nth-child(2){
                width: 0;
            }
            &:nth-child(3){
                transform: translateY(-($hamb-height + $hamb-space)) rotate(-3*45deg);
            }
        }
    }

    // Alterna a visibilidade do menu (Mobile)
    & input:checked ~ label > nav {
        top: 0;
    }

    // Aparência do menu mobile
    & nav {
        height: 100%;
        display: flex;
        position: relative;
        top: -100%;
        transition: $hamb-transition;
        font-size: 15px;
        background-color: #f2f2f2;

        & ul {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            list-style: none;
            & li {
                flex-grow: 1;
                display: flex;
                border-bottom: 1px solid #e0e0e0;
                & a {
                    flex-grow: 1;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-decoration: none;
                    font-weight: bold;
                }
            }
        }

        & > ul ul {
            display: none;
        }
    }
}

@media only screen and (min-width: $md-size) {
    > label {
        order: initial;
        display: flex;
        align-items: center;
        height: 100%;
        width: 54%;
        overflow-y: initial;

        & nav {
            position: initial;
            padding: 0 32px;
            font-size: 0.9em;
            background-color: transparent;
    
            & ul {

                & li {
                    border-bottom: 0;
                    position: relative;
                    
                    
                    & a {
                        flex-grow: initial;
                        position: relative;
                        font-weight: initial;
                        padding: 10px 15px;

                        // Linha embaixo do item do menu
                        &::after {
                            transition: 0.3s;
                            position: absolute;
                            left: 50%;
                            transform: translateX(-50%);
                            bottom: 8px;
                            content: "";
                            height: 1px;
                            width: 0;
                            background-color: green;
                        }

                        &:hover::after {
                            width: calc(100% - 20px);
                        }
                    }

                    &:hover {
                        font-weight: bold;
                        & > a {
                            font-weight: bold;
                        }
                        
                        & > ul {
                            display: flex;
                        }
                    }
                }
            }

            // Level 0
            & > ul {
                flex-direction: row;
                & > li {

                    // Level 1+
                    & ul {
                        position: absolute;
                        top: 0;
                        left: 100%;
                        
                        & li {
                            white-space: nowrap;
                        }
                    }
                    
                    // Level 1
                    & > ul {
                        padding-top: 18px;
                        top: 38px;
                        left: 0;
                    }
                }
            }
        }
    }
}