*, *::before, *::after {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}


#geral {
    overflow-x: hidden;
    @import './header/index';
    $header-heightt: $header-height;
    padding-top: $header-height + 30px;
}