*, *::before, *::after {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

$sm-size:  426px;
$md-size:  1001px;
$lg-size: 1364px;


#geral {
    overflow-x: hidden;
    @import './header/index';
    padding-top: $header-height-mobile + 30px;
    max-width: $lg-size;
    margin: 0 auto;
}

@media only screen and (min-width: $lg-size) {
    #geral {
        min-height: 575px;
        padding-top: 0;
        section {
            padding-top: 55px;
        }
    }
}